# General
.git
.gitignore
.env
.venv
.pytest_cache
.ruff_cache
.uv_cache

# Frontend
src/webapp/node_modules
src/webapp/dist
src/webapp/dist-ssr
src/webapp/tmp
src/webapp/src/lib/api/generated

# Python bytecode
**/__pycache__/
**/*.pyc
