-i https://pkgs.safetycli.com/repository/-7bd8a/project/rate-ukma/pypi/simple/
# Development
django==5.2.7
django-allauth==65.12.0
cryptography>=41.0.0
requests==2.32.4  
PyJWT==2.9.0 

psycopg2-binary==2.9.10
django-cors-headers==4.3.1
django-vite==3.1.0
djangorestframework>=3.14.0
django-reversion>=5.0.8
drf-spectacular>=0.28.0

# Testing
pytest==8.3.4
pytest-django>=4.5.2
coverage==7.3.2

# Linting
ruff==0.9.6
isort==5.12.0
flake8==6.1.0
ipython>=9.4.0

# Environment
python-decouple>=3.8
pre-commit==4.3.0

# Logging    
structlog>=24.2.0

# Production
gunicorn>=23.0.0