<!doctype html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:url" content="{{ url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Rate UKMA" />
  <meta property="og:image" content="{{ image_url }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
</head>
<body></body>
</html>
