# host 
node_modules
src/webapp/node_modules
.venv
__pycache__/
*.pyc
.git
.idea
.vscode
.env

# python
src/backend/.venv
src/backend/**/__pycache__/
src/backend/**/*.pyc

# tools caches
.ruff_cache
.pytest_cache
.uv_cache

# frontend artifacts
src/webapp/node_modules
src/webapp/dist
src/webapp/dist-ssr
src/webapp/tmp
src/webapp/src/lib/api/generated
