services:
  db-rateukma:
    image: postgres:15-alpine
    container_name: "${COMPOSE_PROJECT_NAME}_postgres"
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    profiles:
      - dev
      - prod
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis:
    image: redis:8.4-alpine
    container_name: "${COMPOSE_PROJECT_NAME}_redis"
    restart: unless-stopped
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - redis_data:/data
    profiles:
      - dev
      - prod
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    command: >
      redis-server
      --appendonly yes
      --maxmemory 256mb
      --maxmemory-policy allkeys-lfu


  backend-dev:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: "${COMPOSE_PROJECT_NAME}_django_backend"
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - STATIC_ROOT=/static
      - MEDIA_ROOT=/media
    volumes:
      - ./backend:/app
      - ${STATIC_ROOT}:/static
      - ${MEDIA_ROOT}:/media
    ports:
      - "8000:8000"
    networks:
      - backend
      - frontend
    depends_on:
      - db-rateukma
      - redis
    profiles:
      - dev

  backend:
    image: ghcr.io/ukma-cs-ssdm-2025/rate-ukma/backend:${BACKEND_IMAGE_TAG:-latest}
    container_name: "${COMPOSE_PROJECT_NAME}_django_backend_release"
    restart: unless-stopped
    build:
      context: ./backend
      dockerfile: Dockerfile
    networks:
      - backend
      - frontend
    depends_on:
      - db-rateukma
      - redis
    env_file:
      - .env
    environment:
      - STATIC_ROOT=/static
      - MEDIA_ROOT=/media
    volumes:
      - ./backend:/app
      - ${STATIC_ROOT}:/static
      - ${MEDIA_ROOT}:/media
    ports:
      - "8000:8000"
    profiles:
      - prod

  webapp-dev:
    build:
      context: ..
      dockerfile: ./src/webapp/Dockerfile
      target: ${NODE_ENV:-development}
    container_name: "${COMPOSE_PROJECT_NAME}_webapp"
    restart: unless-stopped
    volumes:
      - ./webapp:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    networks:
      - frontend
    env_file:
      - .env
    depends_on:
      - backend-dev
    profiles:
      - dev

  webapp-build:
    image: ghcr.io/ukma-cs-ssdm-2025/rate-ukma/webapp:${WEBAPP_IMAGE_TAG}
    build:
      context: ..
      dockerfile: ./src/webapp/Dockerfile
      target: production
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ${STATIC_ROOT}:/static
    profiles:
      - prod

volumes:
  postgres_data:
  redis_data:


networks:
  frontend:
    driver: bridge
    name: "${COMPOSE_PROJECT_NAME}_frontend"
  backend:
    driver: bridge
    name: "${COMPOSE_PROJECT_NAME}_backend"