services:
  db-rateukma:
    image: postgres:15
    container_name: "${COMPOSE_PROJECT_NAME}_postgres"
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    profiles:
      - dev
      - prod

  backend-dev:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: "${COMPOSE_PROJECT_NAME}_django_backend"
    env_file:
      - .env
    environment:
      - STATIC_ROOT=/static
      - MEDIA_ROOT=/media
    volumes:
      - ./backend:/app
      - ${STATIC_ROOT}:/static
      - ${MEDIA_ROOT}:/media
    ports:
      - "8000:8000"
    depends_on:
      - db-rateukma
    profiles:
      - dev

  backend:
    image: ghcr.io/ukma-cs-ssdm-2025/rate-ukma/backend:${BACKEND_IMAGE_TAG:-latest}
    container_name: "${COMPOSE_PROJECT_NAME}_django_backend"
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - STATIC_ROOT=/static
      - MEDIA_ROOT=/media
    volumes:
      - ./backend:/app
      - ${STATIC_ROOT}:/static
      - ${MEDIA_ROOT}:/media
    ports:
      - "8000:8000"
    depends_on:
      - db-rateukma
    profiles:
      - prod

  webapp-dev:
    build:
      context: ..
      dockerfile: ./src/webapp/Dockerfile
      target: ${NODE_ENV:-development}
    container_name: "${COMPOSE_PROJECT_NAME}_webapp"
    volumes:
      - ./webapp:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - backend-dev
    profiles:
      - dev

  webapp-build:
    image: ghcr.io/ukma-cs-ssdm-2025/rate-ukma/webapp:${WEBAPP_IMAGE_TAG}
    build:
      context: ..
      dockerfile: ./src/webapp/Dockerfile
      target: production
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    env_file:
      - .env
    volumes:
      - ${STATIC_ROOT}:/static
    profiles:
      - prod

volumes:
  postgres_data:
