---
name: Docker Build
on:
  workflow_dispatch:
    inputs:
      version_tag:
        description: "Version tag to use for the build"
        required: false
        type: string
        default: "latest"

  workflow_call:
    inputs:
      version_tag:
        description: "Version tag to use for the build"
        required: false
        type: string
        default: "latest"
      backend_changed:
        description: "Whether backend code has changed"
        required: true
        type: boolean
      webapp_changed:
        description: "Whether webapp code has changed"
        required: true
        type: boolean

env:
  SOURCE_CODE_DIR: src

permissions:
  packages: write
  contents: read

jobs:
  build-backend:
    if: inputs.backend_changed == true
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to GitHub Container Registry
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "$GITHUB_TOKEN" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Copy default .env file
        working-directory: ${{ env.SOURCE_CODE_DIR }}
        run: |
          cp .env.sample .env

      - name: Extract name from docker-compose.yml
        id: extract_name
        working-directory: ${{ env.SOURCE_CODE_DIR }}
        run: |
          BACKEND_IMAGE_TAGGED=$(awk '/backend:/, /profiles:/' docker-compose.yml | grep 'image:' | head -1 | awk '{print $2}')
          BACKEND_IMAGE=$(echo $BACKEND_IMAGE_TAGGED | awk -F: '{print $1}')
          echo "backend_image=${BACKEND_IMAGE}" >> $GITHUB_OUTPUT
          echo "Backend image: $BACKEND_IMAGE"

      - name: Build backend
        env:
          BACKEND_IMAGE_TAG: ${{ inputs.version_tag }}
        working-directory: ${{ env.SOURCE_CODE_DIR }}
        run: docker compose --profile prod build --build-arg BACKEND_IMAGE_TAG=${BACKEND_IMAGE_TAG} backend

      - name: Push backend image
        if: inputs.version_tag != '' || github.event_name == 'workflow_dispatch'
        env:
          BACKEND_IMAGE_TAG: ${{ inputs.version_tag }}
        working-directory: ${{ env.SOURCE_CODE_DIR }}
        run: docker push ${{ steps.extract_name.outputs.backend_image }}:${BACKEND_IMAGE_TAG}

  build-webapp:
    if: inputs.webapp_changed == true
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to GitHub Container Registry
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: docker login ghcr.io -u ${{ github.actor }} -p $GITHUB_TOKEN

      - name: Copy default .env file
        working-directory: ${{ env.SOURCE_CODE_DIR }}
        run: |
          cp .env.sample .env

      - name: Extract name from docker-compose.yml
        id: extract_name
        working-directory: ${{ env.SOURCE_CODE_DIR }}
        run: |
          WEBAPP_IMAGE_TAGGED=$(awk '/webapp-build:/, /profiles:/' docker-compose.yml | grep 'image:' | head -1 | awk '{print $2}')
          WEBAPP_IMAGE=$(echo $WEBAPP_IMAGE_TAGGED | awk -F: '{print $1}')
          echo "webapp_image=${WEBAPP_IMAGE}" >> $GITHUB_OUTPUT
          echo "Webapp image: $WEBAPP_IMAGE"

      - name: Build staging webapp
        env:
          VITE_API_BASE_URL: ${{ vars.STAGING_URL }}
          WEBAPP_IMAGE_TAG: staging-${{ inputs.version_tag }}
        working-directory: ${{ env.SOURCE_CODE_DIR }}
        run: |
          echo "Building webapp image: ${{ steps.extract_name.outputs.webapp_image }}:${WEBAPP_IMAGE_TAG}"
          docker compose --profile prod build \
            --build-arg VITE_API_BASE_URL=${VITE_API_BASE_URL} \
            --build-arg WEBAPP_IMAGE_TAG=${WEBAPP_IMAGE_TAG} \
            webapp-build

      - name: Push staging webapp
        if: inputs.version_tag != '' || github.event_name == 'workflow_dispatch'
        env:
          WEBAPP_IMAGE_TAG: staging-${{ inputs.version_tag }}
        working-directory: ${{ env.SOURCE_CODE_DIR }}
        run: |
          echo "Pushing webapp image: ${{ steps.extract_name.outputs.webapp_image }}:${WEBAPP_IMAGE_TAG}"
          docker push ${{ steps.extract_name.outputs.webapp_image }}:${WEBAPP_IMAGE_TAG}

      - name: Build live webapp
        env:
          VITE_API_BASE_URL: ${{ vars.LIVE_URL }}
          WEBAPP_IMAGE_TAG: live-${{ inputs.version_tag }}
        working-directory: ${{ env.SOURCE_CODE_DIR }}
        run: |
          echo "Building webapp image: ${{ steps.extract_name.outputs.webapp_image }}:${WEBAPP_IMAGE_TAG}"
          docker compose --profile prod build \
            --build-arg VITE_API_BASE_URL=${VITE_API_BASE_URL} \
            --build-arg WEBAPP_IMAGE_TAG=${WEBAPP_IMAGE_TAG} \
            webapp-build

      - name: Push live webapp
        if: inputs.version_tag != '' || github.event_name == 'workflow_dispatch'
        env:
          WEBAPP_IMAGE_TAG: live-${{ inputs.version_tag }}
        working-directory: ${{ env.SOURCE_CODE_DIR }}
        run: |
          echo "Pushing webapp image: ${{ steps.extract_name.outputs.webapp_image }}:${WEBAPP_IMAGE_TAG}"
          docker push ${{ steps.extract_name.outputs.webapp_image }}:${WEBAPP_IMAGE_TAG}
