name: Changes Filter

on:
  workflow_call:

env:
  BACKEND_DIR: src/backend
  WEBAPP_DIR: src/webapp
  OPENAPI_SCHEMA_FILE: docs/api/openapi-generated.yaml

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      backend_changed: ${{ steps.filter.outputs.backend }}
      webapp_changed: ${{ steps.filter.outputs.webapp }}
    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: filter
        with:
          filters: |
            backend:
              - '${{ env.BACKEND_DIR }}/**'
            webapp:
              - '${{ env.WEBAPP_DIR }}/**'
              - '${{ env.OPENAPI_SCHEMA_FILE }}'

