name: Deploy Live

on:
  workflow_call:
    inputs:
      deployment_ref:
        description: "Commit SHA, Tag, or Branch to checkout. Defaults to the workflow run commit."
        required: false
        type: string
        default: ""
    secrets:
      SSH_HOST:
        required: true
      SSH_USER:
        required: true
      SSH_KEY:
        required: true

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      webapp_image_tag: "live-latest"
      archive_name: "rate-ukma-live-${{ inputs.deployment_ref || github.sha }}.tar.gz"
      deployment_ref: ${{ inputs.deployment_ref }}
      test_url: ${{ vars.LIVE_URL }}
      run_e2e_tests: true
    secrets:
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_KEY: ${{ secrets.SSH_KEY }}
