---
name: Deploy Staging

on:
  workflow_call:
    inputs:
      deployment_ref:
        description: "Commit SHA, Tag, or Branch to checkout. Defaults to the workflow run commit."
        required: false
        type: string
        default: ""
      version_tag:
        description: "Version tag to use for the deployment"
        required: false
        type: string
        default: "latest"
    secrets:
      SSH_HOST:
        required: true
      SSH_USER:
        required: true
      SSH_KEY:
        required: true
      CORPORATE_EMAIL:
        required: true
      CORPORATE_PASSWORD:
        required: true
      SENTRY_AUTH_TOKEN:
        required: true

jobs:
  create-sentry-releases:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Create Sentry releases
        uses: ./.github/actions/sentry-release
        with:
          environment: staging
          version_tag: ${{ inputs.version_tag }}
          sentry_auth_token: ${{ secrets.SENTRY_AUTH_TOKEN }}
          sentry_org: ${{ vars.SENTRY_ORG }}
          sentry_project_frontend: ${{ vars.SENTRY_PROJECT_FRONTEND }}
          sentry_project_backend: ${{ vars.SENTRY_PROJECT_BACKEND }}

  deploy:
    needs: create-sentry-releases
    uses: ./.github/workflows/deploy-script.yml
    with:
      version_tag: ${{ inputs.version_tag }}
      environment: staging
      archive_name: "rate-ukma-staging-${{ inputs.deployment_ref || github.sha }}.tar.gz"
      deployment_ref: ${{ inputs.deployment_ref }}
      test_url: ${{ vars.STAGING_URL }}
      run_e2e_tests: true
    secrets:
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_KEY: ${{ secrets.SSH_KEY }}
      CORPORATE_EMAIL: ${{ secrets.CORPORATE_EMAIL }}
      CORPORATE_PASSWORD: ${{ secrets.CORPORATE_PASSWORD }}
