---
name: Dev Pipeline
on:
  pull_request:
    paths:
      - src/**
      - .github/**

jobs:
  changes-filter:
    uses: ./.github/workflows/changes-filter.yml
    with:
      base: ${{ github.event.before }}
      ref: ${{ github.sha }}

  test:
    needs: changes-filter
    uses: ./.github/workflows/test.yml
    with:
      backend_changed: ${{ fromJSON(needs.changes-filter.outputs.backend_changed) }}
      webapp_changed: ${{ fromJSON(needs.changes-filter.outputs.webapp_changed) }}

  openapi-validation:
    needs: changes-filter
    with:
      api_changed: >-
        ${{ fromJSON(needs.changes-filter.outputs.backend_changed) ||
        fromJSON(needs.changes-filter.outputs.openapi_changed) }}
    uses: ./.github/workflows/openapi-validation.yml

  audit:
    needs: changes-filter
    uses: ./.github/workflows/audit.yml
    secrets: inherit
    with:
      run_backend_audit: ${{ fromJSON(needs.changes-filter.outputs.backend_changed) }}
      run_frontend_audit: ${{ fromJSON(needs.changes-filter.outputs.webapp_changed) }}

  build:
    needs: changes-filter
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      backend_changed: ${{ fromJSON(needs.changes-filter.outputs.backend_changed) }}
      webapp_changed: ${{ fromJSON(needs.changes-filter.outputs.webapp_changed) }}
