name: Dev Pipeline
on:
  pull_request:
    paths:
      - src/**
      - .github/**

jobs:
  changes-filter:
    uses: ./.github/workflows/changes-filter.yml

  test:
    needs: changes-filter
    uses: ./.github/workflows/test.yml
    with:
      backend_changed: ${{ needs.changes-filter.outputs.backend_changed == 'true' }}
      webapp_changed: ${{ needs.changes-filter.outputs.webapp_changed == 'true' }}

  openapi-validation:
    uses: ./.github/workflows/openapi-validation.yml

  audit:
    uses: ./.github/workflows/audit.yml
    secrets: inherit

  build:
    needs: changes-filter
    uses: ./.github/workflows/build.yml
    with:
      backend_changed: ${{ needs.changes-filter.outputs.backend_changed == 'true' }}
      webapp_changed: ${{ needs.changes-filter.outputs.webapp_changed == 'true' }}
