name: Dev Pipeline
on:
  pull_request:
    paths:
      - src/**
      - .github/**

jobs:
  changes-filter:
    uses: ./.github/workflows/changes-filter.yml
    with:
      base: ${{ github.event.before }}
      ref: ${{ github.sha }}

  test:
    needs: changes-filter
    uses: ./.github/workflows/test.yml
    with:
      backend_changed: ${{ needs.changes-filter.outputs.backend_changed == 'true' }}
      webapp_changed: ${{ needs.changes-filter.outputs.webapp_changed == 'true' }}

  openapi-validation:
    needs: changes-filter
    if: |
      needs.changes-filter.outputs.backend_changed == 'true' ||
      needs.changes-filter.outputs.openapi_changed == 'true'
    uses: ./.github/workflows/openapi-validation.yml

  audit:
    needs: changes-filter
    uses: ./.github/workflows/audit.yml
    secrets: inherit
    with:
      run_backend_audit: ${{ needs.changes-filter.outputs.backend_changed == 'true' }}
      run_frontend_audit: ${{ needs.changes-filter.outputs.webapp_changed == 'true' }}

  build:
    needs: changes-filter
    uses: ./.github/workflows/build.yml
    with:
      backend_changed: ${{ needs.changes-filter.outputs.backend_changed == 'true' }}
      webapp_changed: ${{ needs.changes-filter.outputs.webapp_changed == 'true' }}
