name: Staging Build
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - src/**
      - .github/**

jobs:
  version:
    uses: ./.github/workflows/version.yml

  test:
    uses: ./.github/workflows/test.yml

  openapi-validation:
    uses: ./.github/workflows/openapi-validation.yml

  audit:
    uses: ./.github/workflows/audit.yml
    secrets: inherit

  build:
    uses: ./.github/workflows/build.yml

  release-needed:
    needs: [version]
    runs-on: ubuntu-latest
    outputs:
      release_needed: ${{ steps.check.outputs.release_needed }}
    env:
      VERSION_TAG: ${{ needs.version.outputs.version_tag }}
    steps:
      - uses: actions/checkout@v5

      - name: Check if release is needed
        id: check
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if gh release view $VERSION_TAG; then
            echo "release_needed=false" >> $GITHUB_OUTPUT
          else
            echo "release_needed=true" >> $GITHUB_OUTPUT
          fi

  deploy-staging:
    needs: [version, test, openapi-validation, audit, build]
    uses: ./.github/workflows/deploy-staging.yml
    with:
      deployment_ref: ${{ github.sha }}
    secrets:
      SSH_HOST: ${{ secrets.STAGING_SSH_HOST }}
      SSH_USER: ${{ secrets.STAGING_SSH_USER }}
      SSH_KEY: ${{ secrets.STAGING_SSH_KEY }}
      CORPORATE_EMAIL: ${{ secrets.CORPORATE_EMAIL }}
      CORPORATE_PASSWORD: ${{ secrets.CORPORATE_PASSWORD }}

  release:
    needs: [deploy-staging, version, release-needed]
    if: needs.release_needed.outputs.release_needed == 'true'
    uses: ./.github/workflows/release.yml
    with:
      version_tag: ${{ needs.version.outputs.version_tag }}
      pre-release: true
