---
name: Staging Build
on:
  workflow_dispatch:
    inputs:
      version-tag:
        description: "Version tag to deploy. Defaults to latest project semantic version."
        required: false
        type: string
        default: ""
  push:
    branches:
      - main
    paths:
      - src/**
      - .github/workflows/**

jobs:
  changes-filter:
    uses: ./.github/workflows/changes-filter.yml
    with:
      base: ${{ github.event.before || github.event.repository.default_branch }}
      ref: ${{ github.sha }}
      force_all_changed: ${{ inputs.version-tag != '' }}

  version:
    needs: changes-filter
    if: github.ref == 'refs/heads/main'
    with:
      code_changed: >-
        ${{ inputs.version-tag == '' &&
        (fromJSON(needs.changes-filter.outputs.backend_changed) ||
        fromJSON(needs.changes-filter.outputs.webapp_changed)) }}
    uses: ./.github/workflows/version.yml

  test:
    needs: changes-filter
    uses: ./.github/workflows/test.yml
    with:
      backend_changed: ${{ fromJSON(needs.changes-filter.outputs.backend_changed) || fromJSON(needs.changes-filter.outputs.ci_changed) }}
      webapp_changed: ${{ fromJSON(needs.changes-filter.outputs.webapp_changed) || fromJSON(needs.changes-filter.outputs.ci_changed) }}

  openapi-validation:
    needs: changes-filter
    with:
      api_changed: >-
        ${{ fromJSON(needs.changes-filter.outputs.backend_changed) ||
        fromJSON(needs.changes-filter.outputs.openapi_changed) }}
    uses: ./.github/workflows/openapi-validation.yml

  audit:
    needs: changes-filter
    uses: ./.github/workflows/audit.yml
    secrets: inherit
    with:
      run_backend_audit: ${{ fromJSON(needs.changes-filter.outputs.backend_changed) }}
      run_frontend_audit: ${{ fromJSON(needs.changes-filter.outputs.webapp_changed) }}

  build:
    needs: [version, test, openapi-validation, audit, changes-filter]
    if: |
      always() &&
      needs.version.result != 'failure' &&
      needs.test.result != 'failure' &&
      needs.openapi-validation.result != 'failure' &&
      needs.audit.result != 'failure' &&
      needs.changes-filter.result != 'failure'
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      version_tag: ${{ inputs.version-tag || needs.version.outputs.version_tag }}
      backend_changed: ${{ fromJSON(needs.changes-filter.outputs.backend_changed) || fromJSON(needs.changes-filter.outputs.ci_changed) }}
      webapp_changed: ${{ fromJSON(needs.changes-filter.outputs.webapp_changed) || fromJSON(needs.changes-filter.outputs.ci_changed) }}

  release-needed:
    needs: [version]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    outputs:
      release_needed: ${{ steps.check.outputs.release_needed }}
    env:
      VERSION_TAG: ${{ needs.version.outputs.version_tag || inputs.version-tag }}
    steps:
      - uses: actions/checkout@v5

      - name: Check if release is needed
        id: check
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if gh release view $VERSION_TAG; then
            RELEASE_NEEDED=false
          else
            RELEASE_NEEDED=true
          fi

          echo "release_needed=$RELEASE_NEEDED" >> $GITHUB_OUTPUT
          echo "Release needed: $RELEASE_NEEDED -> $VERSION_TAG"

  deploy-staging:
    needs: [version, build]
    if: |
      always() &&
      needs.build.result != 'failure'
    uses: ./.github/workflows/deploy-staging.yml
    with:
      deployment_ref: ${{ github.sha }}
      version_tag: ${{ inputs.version-tag || needs.version.outputs.version_tag }}
    secrets:
      SSH_HOST: ${{ secrets.STAGING_SSH_HOST }}
      SSH_USER: ${{ secrets.STAGING_SSH_USER }}
      SSH_KEY: ${{ secrets.STAGING_SSH_KEY }}
      CORPORATE_EMAIL: ${{ secrets.CORPORATE_EMAIL }}
      CORPORATE_PASSWORD: ${{ secrets.CORPORATE_PASSWORD }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

  release:
    needs: [version, deploy-staging, release-needed]
    if: |
      github.ref == 'refs/heads/main' &&
      always() &&
      needs.release-needed.result == 'success' &&
      needs.release-needed.outputs.release_needed == 'true'
    uses: ./.github/workflows/release.yml
    with:
      version_tag: ${{ needs.version.outputs.version_tag }}
      pre-release: true
