name: Staging Build
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - src/**

jobs:
  changes-filter:
    uses: ./.github/workflows/changes-filter.yml
    with:
      base: ${{ github.event.before }}
      ref: ${{ github.sha }}

  version:
    needs: changes-filter
    if: |
      needs.changes-filter.outputs.backend_changed == 'true' ||
      needs.changes-filter.outputs.webapp_changed == 'true'
    uses: ./.github/workflows/version.yml

  test:
    needs: [changes-filter, version]
    uses: ./.github/workflows/test.yml
    with:
      backend_changed: ${{ needs.changes-filter.outputs.backend_changed == 'true' }}
      webapp_changed: ${{ needs.changes-filter.outputs.webapp_changed == 'true' }}

  openapi-validation:
    needs: changes-filter
    if: |
      needs.changes-filter.outputs.backend_changed  == 'true' ||
      needs.changes-filter.outputs.openapi_changed == 'true'
    uses: ./.github/workflows/openapi-validation.yml

  audit:
    needs: changes-filter
    uses: ./.github/workflows/audit.yml
    secrets: inherit
    with:
      run_backend_audit: ${{ needs.changes-filter.outputs.backend_changed == 'true' }}
      run_frontend_audit: ${{ needs.changes-filter.outputs.webapp_changed == 'true' }}

  build:
    needs: [version, test, openapi-validation, audit]
    uses: ./.github/workflows/build.yml
    with:
      version_tag: ${{ needs.version.outputs.version_tag }}
      backend_changed: ${{ needs.changes-filter.outputs.backend_changed == 'true' }}
      webapp_changed: ${{ needs.changes-filter.outputs.webapp_changed == 'true' }}

  release-needed:
    needs: [version]
    runs-on: ubuntu-24.04
    outputs:
      release_needed: ${{ steps.check.outputs.release_needed }}
    env:
      VERSION_TAG: ${{ needs.version.outputs.version_tag }}
    steps:
      - uses: actions/checkout@v5

      - name: Check if release is needed
        id: check
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if gh release view $VERSION_TAG; then
            RELEASE_NEEDED=false
          else
            RELEASE_NEEDED=true
          fi

          echo "release_needed=$RELEASE_NEEDED" >> $GITHUB_OUTPUT
          echo "Release needed: $RELEASE_NEEDED -> $VERSION_TAG"

  deploy-staging:
    needs: [version, build]
    uses: ./.github/workflows/deploy-staging.yml
    with:
      deployment_ref: ${{ github.sha }}
      version_tag: ${{ needs.version.outputs.version_tag }}
    secrets:
      SSH_HOST: ${{ secrets.STAGING_SSH_HOST }}
      SSH_USER: ${{ secrets.STAGING_SSH_USER }}
      SSH_KEY: ${{ secrets.STAGING_SSH_KEY }}
      CORPORATE_EMAIL: ${{ secrets.CORPORATE_EMAIL }}
      CORPORATE_PASSWORD: ${{ secrets.CORPORATE_PASSWORD }}

  release:
    needs: [deploy-staging, release-needed]
    if: needs.release-needed.outputs.release_needed == 'true'
    uses: ./.github/workflows/release.yml
    with:
      version_tag: ${{ needs.version.outputs.version_tag }}
      pre-release: true
