---
name: Warmup
on:
  workflow_call:

env:
  SRC_DIR: /opt/rate-ukma/src

jobs:
  warmup-backend:
    runs-on: ubuntu-24.04
    steps:
      - name: Run warmup backend command
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          command_timeout: "30m"
          envs: BACKEND_IMAGE_TAG,WEBAPP_IMAGE_TAG
          script: |
            backend_container=$(docker ps --format "{{.Names}}" | grep backend)
            if [ -z "$backend_container" ]; then
              echo "Backend running container is not found"
              exit 1
            fi

            docker exec -it $backend_container uv run python manage.py warmup

            if [ $? -ne 0 ]; then
              echo "Warmup failed"
              exit 1
            fi

            echo "Warmup completed"
